@charset "UTF-8";

/*
:root {
  --text-color:
  --background-color:
  --accent-color:
}

a {
  color: var(text-color);
}
*/

/* 전체 영역 */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 120px;
}

/* 헤더 영역 */
nav {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background: #007bff;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343!important;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
}
.navbar .navbar-collapse .navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.navbar .navbar-collapse .navbar-nav .nav-item {
  padding-right: 10px;
}
.navbar .navbar-collapse .navbar-nav .nav-item a {
  color: #fff;
  font-size: 18px;
  width: 160px;
}
.navbar .navbar-collapse .navbar-nav .nav-item a:focus {
  outline: none;
  box-shadow: none;
}
.navbar .navbar-collapse .navbar-nav .nav-item a:hover {
  color: #007bff;
}

/* 헤더 세부 메뉴 드롭다운 영역 */
.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  width: 140px;
  background-color: #263343;
  line-height: 30px;
  border-color: #263343;
  margin-top: 30px;
}
.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu a {
  font-size: 14px;
}
.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu a:hover {

}
.navbar .navbar-collapse ul:last-child li a {
  padding-right: 10px;
  color: #fff;
}
.navbar .navbar-collapse ul:last-child li a:hover {
  color: blue;
}

/* 컨텐츠 영역 */
.wrap{
  margin: 50px auto;
}

.container .calname{
  width: 100%;
  font-size: 30px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.section .board_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1110px;
  margin: 0 auto;
}
.section .board_container .table {
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-collapse: collapse;
  display: flex;
  margin: 0 auto;
}

/* 컨텐츠 타이틀 영역 */
.section .board_container .table thead {
  width: 220px;
}
.section .board_container .table thead tr {
  display: flex;
  justify-content: space-between;
}
.section .board_container .table thead tr td {
  border-top: 0;
}
.section .board_container .table thead tr td:nth-child(1) {
  width:
}
.section .board_container .table thead tr td:nth-child(2) {
  margin-right: 10px;
}
.section .board_container .table thead tr h4 {
  font-size: 20px;
}
.section .board_container .table thead tr td:last-child {
  right: 0;
}

/* 컨텐츠 게시판 영역 */
.section .board_container .table tbody {
  width: 700px;
}
.section .board_container .table tbody tr {
  display: flex;
  justify-content: space-between;
}
.section .board_container .table tbody tr td a {
  font-size: 15px;
  color: #000;
}
.section .board_container .table tbody .table_item td {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section .board_container .table tbody .table_item:nth-child(1) td {
  border-top: 0;
}
.section .board_container .table tr a img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.label-img{
  width: 30px;
}


/* 푸터 영역 */
footer {
  color: #fff;
  text-align: center;
}
footer .wrap_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  background-color: #263343;
}
footer .wrap_footer .footer_logo {
  font-size: 20px;
  padding-bottom: 18px;
}
footer .wrap_footer .footer_text {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding-bottom: 15px;
}
footer .wrap_footer .footer_address {
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 25px;
}
footer .wrap_footer .footer_address ul {

}
footer .wrap_footer .footer_address ul li {
  line-height: 1.7;
}
footer .wrap_footer .footer_address ul li span {
  font-size: 14px;
  padding-left: 10px;
}
footer .wrap_footer div.last {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  letter-spacing: 1.5px;
  background: rgba(0, 0, 0, 0.2);
}

/* 반응형 영역 */
/*
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .header .navbar .navbar_menu li:hover a {
    background-color: #d49466;
    border-radius: 4px;
  }
  .header .navbar .navbar_links {
    display: none;
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }
  .header .navbar a.navbar_toogleBtn {
    display: block;
  }
  .navbar_menu.active,
  .navbar_links.active {
    display: flex;
  }
}
*/
