@charset "UTF-8";

/*
:root {
  --text-color:
  --background-color:
  --accent-color:
}

a {
  color: var(text-color);
}
*/


/* 헤더 영역 */
.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 10px 100px;
}
.header .navbar .navbar_logo {
  font-size: 25px;
  color: #fff;
}
.header .navbar .navbar_logo i {
  color: #d49466;
}
.header .navbar .navbar_menu {
  display: flex;
  padding-left: 0;
}
.header .navbar .navbar_menu li {
  padding: 25px 40px;
}
.header .navbar .navbar_menu li:hover a {
  color: #d49466;
}
.header .navbar .navbar_links {
  display: flex;
}
.header .navbar .navbar_links li {
  padding: 25px 10px;
}
.header .navbar a.navbar_toogleBtn {
  display: none;
  position: absolute;
  top: 30;
  right: 30;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .header .navbar .navbar_menu li:hover a {
    background-color: #d49466;
    border-radius: 4px;
  }
  .header .navbar .navbar_links {
    display: none;
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }
  .header .navbar a.navbar_toogleBtn {
    display: block;
  }
  .navbar_menu.active,
  .navbar_links.active {
    display: flex;
  }
}

/* 컨텐츠 영역 */
section {
  position: absolute;
  top: 89px;
  background-color: green;
  width: 100%;
}
#myCarousel {
  width: 100%;

}


/* 푸터 영역 */

footer {
  background-color: red;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #263343;
  text-align: center;
}
footer .wrap_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}
footer .wrap_footer .footer_logo {
  font-size: 25px;
  padding-bottom: 18px;
}
footer .wrap_footer .footer_text {
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding-bottom: 15px;
}
footer .wrap_footer .footer_address {
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 25px;
}
footer .wrap_footer .footer_address ul {

}
footer .wrap_footer .footer_address ul li {
  line-height: 1.7;
}
footer .wrap_footer .footer_address ul li span {
  font-size: 16px;
  padding-left: 10px;
}
footer .wrap_footer .last {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  letter-spacing: 1.5px;
}
