@charset "UTF-8";

/*
:root {
  --text-color:
  --background-color:
  --accent-color:
}

a {
  color: var(text-color);
}
*/

/* 전체 영역 */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 120px;
}
.text-mint{
  color:#52aeaf;
}


/* 헤더 영역 */
.navbar {
  background-color: #263343!important;
}
.navbar-toggler{border: 0px;}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
}
.navbar-nav .nav-item {
  padding: 0 1.2rem;  
}
.navbar-nav .nav-item a:focus {
  outline: none;
  box-shadow: none;
}
.navbar .navbar-collapse .navbar-nav .nav-item a:hover {
  color: #53aeaf;
}

/* 헤더 세부 메뉴 드롭다운 영역 */
.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  width: 140px;
  background-color: #263343;
  line-height: 30px;
  border:0;
}
.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu a {
  font-size: 14px;
}
.navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu a:hover {

}
.navbar .navbar-collapse ul:last-child li a {
  padding-right: 10px;
  color: #fff;
}
.navbar .navbar-collapse ul:last-child li a:hover {
  color: #53aeaf;
}

/* 컨텐츠 영역 */

.container .calname{
  width: 100%;
  font-size: 30px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 컨텐츠 타이틀 영역 */
.section .board_container .table thead {
  width: 220px;
}
.section .board_container .table thead tr {
  display: flex;
  justify-content: space-between;
}
.section .board_container .table thead tr td {
  border-top: 0;
}
.section .board_container .table thead tr td:nth-child(1) {
  width:
}
.section .board_container .table thead tr td:nth-child(2) {
  margin-right: 10px;
}
.section .board_container .table thead tr h4 {
  font-size: 20px;
}
.section .board_container .table thead tr td:last-child {
  right: 0;
}

/* 컨텐츠 게시판 영역 */
.section .board_container .table tbody {
  width: 700px;
}
.section .board_container .table tbody tr {
  display: flex;
  justify-content: space-between;
}
.section .board_container .table tbody tr td a {
  font-size: 15px;
  color: #000;
}
.section .board_container .table tbody .table_item td {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section .board_container .table tbody .table_item:nth-child(1) td {
  border-top: 0;
}
.section .board_container .table tr a img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.label-img{
  width: 30px;
}


/* 푸터 영역 */

footer {
  background-color: #d46354;
}
footer  .footer_logo {
  font-size: 20px;
  padding-bottom: 18px;
}
footer  .footer_text {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding-bottom: 15px;
}
footer  .footer_address {
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 25px;
}
footer  .footer_address ul {

}
footer  .footer_address ul li {
  line-height: 1.7;
}
footer  .footer_address ul li span {
  font-size: 14px;
  padding-left: 10px;
}
footer  div.last {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  letter-spacing: 1.5px;
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 767.98px) { 

  .dropdown-menu{
    text-align: center;
  }
 }
