@charset "UTF-8";

/*
:root {
  --text-color:
  --background-color:
  --accent-color:
}

a {
  color: var(text-color);
}
*/

/* 전체 영역 */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.wrap {
  height: auto;
  min-height: 100%;
  padding-bottom: 324px;
}

/* 헤더 영역 */
.header {
  width: 100%;
  height: 130px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  box-sizing: border-box;
}
.header .navbar {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 0px 90px;
  box-sizing: border-box;
}
/* 헤더 로고 영역 */
.header .navbar .navbar_logo {
  width: 270px;
}
/* 헤더 대메뉴 영역 */
.header .navbar .navbar_menu {
  width: 820px;
  display: flex;
  justify-content: center;
  padding-top: 48px;
}
.header .navbar .navbar_menu .dropdown {
  display: inline-flex;
  flex-direction: column;
  width: 160px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.header .navbar .navbar_menu .dropdown a.btn {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  line-height: 40px;
  width: 100%;
  border: 0;
}
.header .navbar .navbar_menu .dropdown a.btn:focus {
  outline: 0;
  box-shadow:none;
  -webkit-box-shadow:none;
}


/* 헤더 세부 메뉴 드롭다운 영역 */
.header .navbar .navbar_menu .dropdown .dropdown-menu {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #263343;
  border-color: #263343;
  padding-top: 21px;
  width: 100%;
}
.header .navbar .navbar_menu .dropdown .dropdown-menu .dropdown-item {
  font-size: 18px;
  color: #fff;
}
.header .navbar .navbar_menu .dropdown .dropdown-menu .dropdown-item:hover {
  color: #000;
}
.header .navbar .navbar_links a {
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
}
.header .navbar .navbar_links {
  padding-top: 48px;
}



.header .navbar a.navbar_toogleBtn {
  display: none;
  position: absolute;
  top: 30;
  right: 30;
  font-size: 25px;
}


@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .header .navbar .navbar_menu li:hover a {
    background-color: #d49466;
    border-radius: 4px;
  }
  .header .navbar .navbar_links {
    display: none;
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }
  .header .navbar a.navbar_toogleBtn {
    display: block;
  }
  .navbar_menu.active,
  .navbar_links.active {
    display: flex;
  }
}



/* 컨텐츠 영역 */

section {
  background-color: green;
  width: 100%;
  height: 100%;
  margin-top: 130px;
}
#myCarousel {
  width: 100%;

}
/* 컨텐츠 게시판 영역 */
.board {
  width: 100%;
  height: 100%;
  margin-top: 130px;
  padding-top: 100px;
}
.board .board_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}
.board .board_container .board_notice {
  display: flex;
  width: 65%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 50px;
}
.board .board_container .board_notice .board_tit {
  display: flex;
  width: 100%;
  padding-bottom: 14px;
  border-bottom: 1px solid #000;
}
.board .board_container .board_notice .board_tit h4 {
  width: 100%;
  font-size: 24px;
}
.board .board_container .board_tit a i {
  color: #fff;
}
.board .board_container .board_tit a i:hover {
  color: #888;
}
.board .board_container .board_notice ul {
  font-size: 13px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8px;
}
.board .board_container .board_notice ul li {
  /*word-break: break-all;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: inside;
  padding-top: 7px;
}
.board .board_container .board_notice ul li a {
  width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}
.board .board_container .board_notice ul li span {
  width: 150px;
  padding-left: 80px;
}
.board .board_container .board_notice ul li img {
  width: 35px;
  height: 35px;
  padding-right: 12px;
}
.board .board_container .board_notice ul li:hover a {
  color: #fff;
}/* //공지사항 */

.board .board_container .board_report {
  display: flex;
  width: 65%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 50px;
}
.board .board_container .board_report .board_tit {
  display: flex;
  width: 100%;
  padding-bottom: 14px;
  border-bottom: 1px solid #000;
}
.board .board_container .board_report .board_tit h4 {
  width: 100%;
  font-size: 24px;
}
.board .board_container .board_report ul {
  font-size: 13px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8px;
}
.board .board_container .board_report ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: inside;
  padding-top: 7px;
}
.board .board_container .board_report ul li a {
  width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}
.board .board_container .board_report ul li span {
  width: 150px;
  padding-left: 80px;
}
.board .board_container .board_report ul li:hover a {
  color: #fff;
}
/* //재정보고 */

.board .board_container .board_donation {
  display: flex;
  width: 65%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 50px;
}
.board .board_container .board_donation .board_tit {
  display: flex;
  width: 100%;
  padding-bottom: 14px;
  border-bottom: 1px solid #000;
}
.board .board_container .board_donation .board_tit h4 {
  width: 100%;
  font-size: 24px;
}
.board .board_container .board_donation ul {
  font-size: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8px;
}
.board .board_container .board_donation ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: inside;
  padding-top: 7px;
}
.board .board_container .board_donation ul li a {
  color: #fff;
}
.board .board_container .board_donation ul li span {
  width: 150px;
  padding-left: 80px;
}
.board .board_container .board_donation ul li:hover a {
  color: #fff;
}/* //후원금 결산내역 */



/* 푸터 영역 */

footer {
  position: relative;
  transform: translateY(-100%);
  width: 100%;
  height: 324px;
  text-align: center;
}
footer .wrap_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  background-color: #263343;
}
footer .wrap_footer .footer_logo {
  font-size: 25px;
  padding-bottom: 18px;
}
footer .wrap_footer .footer_text {
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 1px;
  padding-bottom: 15px;
}
footer .wrap_footer .footer_address {
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 25px;
}
footer .wrap_footer .footer_address ul {

}
footer .wrap_footer .footer_address ul li {
  line-height: 1.7;
}
footer .wrap_footer .footer_address ul li span {
  font-size: 16px;
  padding-left: 10px;
}
footer .wrap_footer div.last {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  letter-spacing: 1.5px;
  background: rgba(0, 0, 0, 0.2);
}
