{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="text-center my-5 py-4">
      <h2 class="my-3 pt-4">꿈지락 네트워크의 CI를 소개합니다.</h2>
      <p class="my-5">
        (사) 꿈지락네트워트(이하 꿈지락)의 CI는 '말풍선'과 '연결'을 모티브로 하고 있습니다.<br>
        꿈지락이 만들어가는 더 나은 미래는 "개인의 다양한 생각이 존중받는 사회", "타인과의 관계 속에서 발현하는 시민성"에 있습니다.<br>
        '말풍선'은 시민 개인의 다양한 생각, 그로부터 시작되는 꿈을 상징하며, 이를 이어주는 곡선과 직선이 '연결'을 의미합니다 <br>
      </p>
      <img src="../static/image/ci_1.PNG" alt="" class="img-fluid">

      <p class="my-5">
        꿈지락의 기본 색상은 'ggumjirak orange'입니다. <br>
        오렌지 색은 정의, 원기, 약동, 활력, 만족, 유쾌, 적극 등을 상징합니다.<br>
        보조색상으로 'ggumjirak mint'와 'ggumjirak silver'를 활용합니다.<br>
        민트색은 청량, 신뢰, 미래 등을 상징하며, 은색은 이성, 안정, 도시 등을 상징합니다.<br>
      </p>
      <img src="../static/image/ci_2.PNG" alt="" class="img-fluid">

      <p class="my-5">
        CI는 ggumjirak orange를 공식(기본형)으로 사용하되, 프로젝트의 성격에 따라 색상 활용을 합니다.<br>
        ggumjirak orange는 아동, 청소년사업을 중심으로 교육컨텐츠 및 해당 프로젝트에 주로 사용합니다.<br>
        ggumjirak mint는 청년정책을 중심으로 한 학술, 연구, 기술, 경제, 도시 등의 프로젝트에 활용합니다.
      </p>


      <h4 class="pt-5 mb-5">컬러시스템</h4>
        <div class="row pb-5">
          <div class="col-sm-4">
            <img src="/../static/image/orange.PNG" alt="" class="img-fluid">
            <p>ggumjirak Orange</p>
            <p>C0 M53 Y57 K12</p>
          </div>
          <div class="col-sm-4">
            <img src="/../static/image/green.PNG" alt="" class="img-fluid">
            <p>ggumjirak mint</p>
            <p>C53 M1 Y0 K31</p>
          </div>
          <div class="col-sm-4">
            <img src="/../static/image/silver.PNG" alt="" class="img-fluid">
            <p>ggumjirak silver</p>
            <p>C0 M4 Y15 K17</p>
          </div>
        </div>
    </div>
  </div>
  {% endblock %}
