{% extends 'base.html' %}

{% block content %}

<style>
.page-content {
  background-color:#FFFFFF;
}
.section-slide {
  height:200px;
}

.box {
  float:left;
  margin-left:70px;
  position:relative;
  width:930px;
}
.container {
  padding-top:50px;
  padding-bottom: 130px;
}

.text-1 {
  color:#494949;
  font-family:'Noto Sans KR', sans-serif;
  font-size:30px;
  margin-left:0px;
  margin-top:70px;
  text-align:center;
}
.text-2,
.text-3,
.text-4 {
  color:#6D6D6D;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
.ci-title_1 {
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:0px;
  margin-top:100px;
  position:relative;
}
.iu-box {
  background-size:cover;
  border-color:#E9E9E9;
  border-width:1px;
  height:250px;
  margin-left:0px;
  margin-top:15px;
  display: flex;
  justify-content: space-between;
}
.iu-box ul {
  display: flex;
  flex-direction: column;
}
.iu-box ul li p {
  margin-top: 30px;
}

.iu-text2 div.iu-box {
  display: flex;
  justify-content: space-between;
}
.iu-text2 div.iu-box li {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}
.iu-text2 div.iu-box li p {
  margin: 0;
}
.iu-text2 h4 {
  margin-bottom: 60px;
}

.box-2 {
  float:left;
  height:145px;
  margin-left:0px;
  margin-top:80px;
  position:relative;
  width:33.30%;
}
.image {
  float:none;
  height:65px;
  margin-left:auto;
  margin-right:auto;
  margin-top:12px;
  position:relative;
  width:189px;
}
.box-3 {
  float:left;
  height:140px;
  margin-top:80px;
  position:relative;
  width:33.30%;
}
.image-1 {
  float:none;
  height:90px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  position:relative;
  width:123px;
}
.box-4 {
  float:left;
  height:140px;
  margin-top:80px;
  position:relative;
  width:33.30%;
}
.image-2 {
  float:none;
  height:66px;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  position:relative;
  width:60px;
}
.ci-title {
  float:none;
  font-family:'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight:700;
  margin-left:0px;
  margin-top:60px;
  position:relative;
}
.box-5 {
  float:none;
  margin-left:0px;
  margin-top:0px;
  position:relative;
}
.box-6 {
  float:left;
  height:125px;
  position:relative;
  width:218px;
}
.box-7 {
  background-color:#eb4766;
  float:none;
  height:86px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
}
.box-8 {
  border-bottom-color:#DBDBDB;
  border-bottom-width:1px;
  border-left-color:#DBDBDB;
  border-left-width:1px;
  border-right-color:#DBDBDB;
  border-right-width:1px;
  padding-bottom:8px;
  padding-left:12px;
  padding-right:12px;
  padding-top:8px;
  position:relative;
}
.text-5 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
}
.text-6 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  position:relative;
  right:0px;
}
.box-9 {
  float:left;
  height:125px;
  margin-left:19px;
  position:relative;
  width:218px;
}
.box-10 {
  background-color:#57e094;
  border-color:#DBDBDB;
  border-width:1px;
  float:none;
  height:84px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
}
.box-11 {
  border-bottom-color:#DBDBDB;
  border-bottom-width:1px;
  border-left-color:#DBDBDB;
  border-left-width:1px;
  border-right-color:#DBDBDB;
  border-right-width:1px;
  float:none;
  padding-bottom:8px;
  padding-left:12px;
  padding-right:12px;
  padding-top:8px;
  position:relative;
}
.text-7 {
  float:left;
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  margin-left:0px;
  margin-top:0px;
  position:relative;
}

.text-8,
.text-9 {
  font-family:'Noto Sans KR', sans-serif;
  font-size:16px;
  font-weight:700;
  text-align: center;
}
.text-10 {
  font-family:'Noto Sans KR', sans-serif;
  font-size:14px;
  text-align: center;
}
.box-12 {
  float:left;
  height:125px;
  margin-left:19px;
  position:relative;
  width:218px;
}
.box-13 {
  background-color:#d4d9b3;
  float:none;
  height:86px;
  margin-left:0px;
  margin-top:0px;
  position:relative;
}
.box-14 {
  border-bottom-color:#DBDBDB;
  border-bottom-width:1px;
  border-left-color:#DBDBDB;
  border-left-width:1px;
  border-right-color:#DBDBDB;
  border-right-width:1px;
  float:none;
  padding-bottom:8px;
  padding-left:12px;
  padding-right:12px;
  padding-top:8px;
  position:relative;
}

</style>

<div class="container">
    <div class="board_container" style='color:black'>
            <div class="iu-text text-1">
                <h2>
                    꿈지락 네트워크의 CI를 소개합니다.
                </h2>
            </div>
            <div class="iu-text ci-title_1">
                <h4>로고타입</h4>
            </div>
            <div class="iu-box box-1">
                <ul class="iu-box box-2">
                    <li class="iu-text text-2"><img class="iu-image image" src="../static/image/ggumjirak-or-ko-full.png"></li>
                    <li class="iu-text text-4"><p>정식명칭 가로형</p></li>
                </ul>
                <ul class="iu-box box-3">
                    <li class="iu-text text-2"><img class="iu-image image-1" src="../static/image/ggumjirak-or-ko.png"></li>
                    <li class="iu-text text-4"><p>일반 가로형</p></li>
                </ul>
                <ul class="iu-box box-4">
                    <li class="iu-text text-2"><img class="iu-image image-2" src="../static/image/ggumjirak-or-ko-short-01.png"></li>
                    <li class="iu-text text-4"><p>이미지형 로고</p></li>
                </ul>
            </div>

            <div class="iu-text2 ci-title">
                <h4>컬러시스템</h4>
                <div class="iu-box box-5">
                  <ul class="iu-box box-8">
                    <li><img src="/../static/image/green.PNG" alt=""></li>
                    <li class="iu-text text-9"><p>ggumjirak Orange</p></li>
                    <li class="iu-text text-10"><p>C8 M72 Y60 K0</p></li>
                  </ul>
                  <ul class="iu-box box-8">
                    <li><img src="/../static/image/orange.PNG" alt=""></li>
                    <li class="iu-text text-9"><p>ggumjirak mint</p></li>
                    <li class="iu-text text-10"><p>C66 M12 Y33 K0</p></li>
                  </ul>
                  <ul class="iu-box box-8">
                    <li><img src="/../static/image/silver.PNG" alt=""></li>
                    <li class="iu-text text-9"><p>ggumjirak silver</p></li>
                    <li class="iu-text text-10"><p>C17 M15 Y30 K0</p></li>
                  </ul>
                </div>

            </div>
    </div>
</div>
{% endblock %}
