{% extends 'base.html' %}

{% block content %}
          <!-- 컨텐츠 영역  -->
              <div class="container my-5 py-4">
                  <div class="cont">
                     <div class="column col1" style="padding-top:20px">
                         <h4 class="pb-4"><b>찾아오시는 길</b></h4>
                         <img src="../../static/image/contact.png" alt="약도" width="100%" height="100%">
                      </div>
                      <div class="row text-center">
                        <div class="col-md-3">
                          <img src="/../static/image/" alt="" class="img-fluid">
                          <p class="pb-3"><b>Address</b></p>
                          <p>서울시 동작구 시흥대로 596<br>(신라스테이해링턴타워), 213호</p>
                        </div>
                        <div class="col-md-3">
                          <img src="/../static/image/" alt="" class="img-fluid">
                          <p class="pb-3"><b>Tel</b></p>
                          <p>02-802-7737</p>
                        </div>
                        <div class="col-md-3">
                          <img src="/../static/image/" alt="" class="img-fluid">
                          <p class="pb-3"><b>Fax</b></p>
                          <p>02.852.7737</p>
                        </div>
                        <div class="col-md-3">
                          <img src="/../static/image/" alt="" class="img-fluid">
                          <p class="pb-3"><b>E-mail</b></p>
                          <p>ggumjirak@gmail.com</p>
                        </div>
                      </div>
                      <!--
                      <div class="column col2">
                        <p><b>Address</b></p><br>
                        <p>서울시 동작구 시흥대로 596(신라스테이해링턴타워), 213호</p><br>
                      </div>
                      <div class="column col3">
                        <p><b>Tel</b></p><br>
                        <p>02-802-7737</p><br>
                      </div>
                      <div class="column col4">
                        <p><b>Fax</b></p><br>
                        <p>02.852.7737</p><br>
                      </div>
                      <div class="column col5">
                        <p><b>E-mail</b></p><br>
                        <p>ggumjirak@gmail.com</p><br>
                      </div>
                      -->
                  </div>

              </div>
          </div>
            <!-- //컨텐츠 영역  -->
{% endblock %}
