{% extends 'base.html' %}

{% block content %}
            <!-- 컨텐츠 영역  -->
             <section>
             <div id="cont_cont">
             <div class="container">
               <div class="cont">
                   <div class="column col1" style="padding-top:20px">
                   <h1>
                    <p><b>찾아오시는 길</b></p>
                   <img src="../../static/image/contact.png" alt="약도" width="100%" height="100%"></h1>
                   </div>
                <div class="column col2">
                    <p><b>Address</b></p><br>
                    <p>서울시 동작구 시흥대로 596(신라스테이해링턴타워), 213호</p><br>
                </div>
                <div class="column col3">
                    <p><b>Tel</b></p><br>
                    <p>02-802-7737</p><br>
                </div>
                <div class="column col4">
                    <p><b>Fax</b></p><br>
                    <p>02.852.7737</p><br>
                </div>
                <div class="column col5">
                <p><b>E-mail</b></p><br>
                <p>ggumjirak@gmail.com</p><br>
                </div>
                </div>
               </div>
               </div>
            </section>
            <!-- //컨텐츠 영역  -->
{% endblock %}
            