{% extends 'base.html' %}

{% block content %}
<!-- 컨텐츠 영역  -->
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div id="daumRoughmapContainer1610084606497" class="root_daum_roughmap root_daum_roughmap_landing"
        style="width:100%"></div>
    </div>
    <div class="col-md-3">
      <h4 class="pb-5">찾아오시는 길</h4>
      <small class="pt-3">Address</small>
      <p>서울시 동작구 시흥대로 596<br>(신라스테이해링턴타워), 213호</p>
      <small class="pt-3">Tel</small>
      <p>02-802-7737</p>
      <small class="pt-3">Fax</small>
      <p>02.852.7737</p>
      <small class="pt-3">E-mail</small>
      <p>ggumjirak@gmail.com</p>
    </div>
  </div>
</div>


{% endblock %}

{% block extra_script %}
<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
<script charset="UTF-8">
  new daum.roughmap.Lander({
    "timestamp": "1610084606497",
    "key": "23t7h",
    "mapHeight": "500"
  }).render();
</script>
{% endblock %}