{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <div class="board">
        <div class="board_container" style='color:black' align="center">
            <h1 class="dtitle" style='color:black'>후원</h1>
            <h5 style='color:black'>꿈지락네트워크 후원 방법을 소개해드립니다.</h5>
            아무것도 하지 않으면 아무것도 변하지 않습니다.<br>
            사단법인 꿈지락네트워크는<br>
            오늘의 주인공인 청년과 함께  미래세대가 살아갈 사회에 필요한 변화를 만들어 가고 있습니다.<br>
            여러분의 후원은 청소년과 청년이 도전을 통해 자신의 역량을 펼칠 수 있도록 지원하는<br>
            다양한 사회혁신 프로젝트에 사용됩니다.<br>
            <br>
            나의 꿈을 알아가는 즐거움, 함께 꿈꾸는 사회를 만들어 가는 일에 동참하고자 하시는 분들의<br>
            많은 참여를 부탁드립니다!<br>
            <br>
            - 후원계좌 : 1005-604-038204 우리은행 사단법인 꿈지락네트워크<br>
            - 후원과 관련된 문의는 사단법인 꿈지락네트워크 사무국 02-802-7737<br>
            - 10만원 이상 후원자님께는 소식지와 감성굿즈를 보내드립니다.<br>
        </div>
       
    </div>
</div>
{% endblock %}
