{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="my-5 py-4">
    <h4 class=".text-mint mb-4"><b>재정보고</b></h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">번호</th>
          <th scope="col">제목</th>
          <th scope="col">글쓴이</th>
          <th scope="col">날짜</th>
        </tr>
      </thead>
      <tbody>
        {% for list in posts %}
        <tr>
          <th scope="row">{{list.id}}</th>
          <td><a href="{{list.pk}}/">{{list.postname}}</a></td>
          <td>관리자</td>
          <td>{{list.pub_date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if posts.has_previous %}
    <a href="?page=1">맨 앞으로</a>
    <a href="?page={{posts.previous_page_number}}">이전으로</a>
    {% endif %}
    <span>{{posts.number}}</span>
    <span>/</span>
    <span>{{posts.paginator.num_pages}}</span>
    {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">다음으로</a>
    <a href="?page={{posts.paginator.num_pages}}">맨 뒤로</a>
    {% endif %}

    <!--
  <ul class="pagination justify-content-center pt-4">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  -->
  </div>
</div>

  {% endblock %}
