{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <img class="mb-5" src="{{post.mainphoto.url}}" alt="" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        </div>
        <div class="col-sm-3">
            <h5>{{post.postname}}</h5>
            <p class="card-text">{{post.contents}}</p>
            
            <a href="/project/"><button class="btn btn-secondary btn-sm" type="button">목록</button></a>
        </div>
    </div>
</div>

{% endblock %}