{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <div class="board">
        <div class="container" style='color:black'>
            <div class="card">
                <h5 class="card-header">{{post.postname}}</h5>
                <div class="card-body">
                    <img src = "{{post.mainphoto.url}}" alt="">
                    <p class="card-text">{{post.contents}}</p>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
            <a href="/project/"><button class="btn btn-secondary btn-sm" type="button">목록</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}