{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {% for list in projectlist %}
            <div class="carousel-item {% if forloop.first %} active{% endif %}" 
                style="background-image: url('{{list.mainphoto.url}}'); background-size: cover; background-position: center; height: 400px;">
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            <h5>공지사항</h5>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for list in noticelist %}
                    <tr class="table_item">
                        <td colspan="2">
                            <a href="notice/{{list.pk}}/">
                                {{list.postname}}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><a href="/notice" class="more" title="더보기">더보기</a></td>
                        </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            <h5>후원금 결산내역</h5>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for list in donatlist %}
                    <tr class="table_item">
                        <td>
                            <a href="donat_report/{{list.pk}}/">{{list.postname}}</span>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr><td><a href="/donat_report" class="more" title="더보기">더 보기</a></td></tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- //컨텐츠 영역  -->
</div>
{% endblock %}