{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active"
                style="background-image: url('/../static/image/fair-540126_1280.jpg'); background-size: cover; background-position: center; height: 400px;">
            </div>
            <div class="carousel-item"
                style="background-image: url('/../static/image/carew-castle-2305685_1280.jpg'); background-size: cover; background-position: center; height: 400px;">
            </div>
            <div class="carousel-item"
                style="background-image: url('/../static/image/chicago-690364_1280.jpg'); background-size: cover; background-position: center; height: 400px;">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div id="section" class="section">
        <div class="board_container">
            <table class="table">
                <thead>
                    <tr>
                        <td><h4>공지사항</h4></td>
                        <td><a href="#" class="more" title="더보기"><i class="fas fa-plus"></i></a></td>
                    </tr>
                </thead>
                <tbody>
                    {% for list in noticelist %}
                    <tr class="table_item">
                        <td>
                            <a href="notice/{{list.pk}}/"><img src="../../static/image/ggumjirak-bl-ko-short-02.png">{{list.postname}}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <td><h4>재정보고</h4></td>
                        <td><a href="#" class="more" title="더보기"><i class="fas fa-plus"></i></a></td>
                    </tr>
                </thead>
                <tbody>
                    {% for list in financiallist %}
                    <tr class="table_item">
                        <td>
                            <a href="financial/{{list.pk}}/">{{list.postname}}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <td><h4>후원금 결산내역</h4></td>
                        <td><a href="#" class="more" title="더보기"><i class="fas fa-plus"></i></a></td>
                    </tr>
                </thead>
                <tbody>
                    {% for list in donatlist %}
                    <tr class="table_item">
                        <td>
                            <a href="donat_report/{{list.pk}}/">{{list.postname}}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- //컨텐츠 영역  -->
</div>
{% endblock %}
