{% extends 'base.html' %}
        <section>
            <div class="board">
                <div class="board_container">
                    <div class="board_notice">
                        <div class="board_tit">
                            <h4>공지사항</h4>
                            <a href="#" class="more" title="더보기"><i class="fas fa-plus"></i></a>
                        </div>
                        <ul>
                            <li>
                                <a href="#"><img src="../../static/image/ggumjirak-bl-ko-short-02.png">[지캠프 메이커튜터] 아두이노 LED 조명장치 만들기 강의 진행 안내</a>
                                <span>2020.6.5.</span>
                            </li>
                            <li>
                                <a href="#"><img src="../../static/image/ggumjirak-bl-ko-short-02.png">[지캠프 메이커튜터] 자율비행 드론 제작 및 코딩 강의 진행 안내</a>
                                <span>2020.6.5.</span>
                            </li>
                            <li>
                                <a href="#"><img src="../../static/image/ggumjirak-bl-ko-short-02.png">[지캠프 메이커튜터] 그림 그리는 아두이노 서보로봇 만들기 강의 진행 안내</a>
                                <span>2020.6.5.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="board_report">
                        <div class="board_tit">
                            <h4>재정보고</h4>
                            <a href="#" class="more" title="더보기"><i class="fas fa-plus"></i></a>
                        </div>
                        <ul>
                            <li>
                                <a href="#">[모집공고] 도시재생현장 지원센터 초급, 중급 코디네이터 채용</a>
                                <span>2020.6.5.</span>
                            </li>
                            <li>
                                <a href="#">[모집] 관악 언택트 청년공감토크쇼 '청년인생탐험대'</a>
                                <span>2020.6.5.</span>
                            </li>
                            <li>
                                <a href="#">[모집] 관악 청년공감토크쇼 '관악에 놀러와~!'</a>
                                <span>2020.6.5.</span>
                            </li>
                            <li>
                                <a href="#">[모집공고] 구로구 청년 예비창업자 추가 재모집(~7/22)</a>
                                <span>2020.6.5.</span>
                            </li>
                            <li>
                                <a href="#">[모집공고] 구로 청년 예비창업자 2차 모집(~6/30)</a>
                                <span>2020.6.5.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="board_donation">
                        <div class="board_tit">
                            <h4>후원금 결산내역</h4>
                            <a href="#" class="more" title="더보기"><i class="fas fa-plus"></i></a>
                        </div>
                        <ul>
                            <li><a href="#">[모집공고] 도시재생현장 지원센터 초급, 중급 코디네이터 채용</a>
                                <span>2020.6.5.</span>
                            </li>
                            <li><a href="#">[모집] 관악 언택트 청년공감토크쇼 '청년인생탐험대'</a>
                                <span>2020.6.5.</span>
                            </li>
                            <li><a href="#">[모집] 관악 청년공감토크쇼 '관악에 놀러와~!'</a>
                                <span>2020.6.5.</span>
                            </li>
                            <li><a href="#">[모집공고] 구로구 청년 예비창업자 추가 재모집(~7/22)</a>
                                <span>2020.6.5.</span>
                            </li>
                            <li><a href="#">[모집공고] 구로 청년 예비창업자 2차 모집(~6/30)</a>
                                <span>2020.6.5.</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- //컨텐츠 영역  -->
    </div>
{% endblock %}
