{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <div class="board">
        <div class="board_container" style='color:black'>
            <h1>게시글 개별 페이지입니다</h1>
            <div class="card">
                <h5 class="card-header">>{{post.postname}}</h5>
                <div class="card-body">
                  <p class="card-text">{{post.contents}}</p>
                </div>
                    <input class="btn btn-secondary" type="button" value="목록" onClick="history.go(-1)"> 
            </div>
        </div>
    </div>
</div>
{% endblock %}