{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <div class="board">
        <div class="container" style='color:black'>
                {% if post.mainphoto %}
                <img src="{{post.mainphoto.url}}" alt="" class="img-fluid">
                {% endif %}
                
                <h5>{{post.postname}}</h5>
                
                <p>{{post.contents |safe}}</p>
                

            <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-secondary btn-sm" type="button" onClick="history.go(-1)">목록</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}