{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <div class="board">
        <div class="board_container" style='color:black'>
            <h1 style='color:black'>프로젝트 페이지입니다</h1>
            <table>
                {% for list in postlist %}
                    <ul>
                        <li><a href="{{list.pk}}/" style='color:black'>{{list.postname}}</a></li>
                        <li><a href="{{list.pk}}/" style='color:black'><img src = "{{list.mainphoto.url}}" alt="" height="200"></a></li>
                    </ul>
                {% endfor %}
                </table>
        </div>
       
    </div>
</div>
{% endblock %}