{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <div class="album py-5 bg-light">
        <div class="container">
            <h4 class=".text-mint mb-3"><b>프로젝트</b></h4>

                <div class="row">
                    {% for list in postlist %}
                    <div class="col-md-4">
                      <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail" href="{{list.pk}}/" style='color:black'><img src="{{list.mainphoto.url}}" alt=""></svg>
                        <div class="card-body">
                          <a class="card-text mb-4" href="{{list.pk}}/" style='color:black'>{{list.postname}}</a>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            <table>
                    <ul>
                        <li></li>
                    </ul>
                </table>
        </div>
    </div>
</div>
{% endblock %}
